@using AutoService.Models.IdentityModels
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!-- Signin btn -->
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a
            class="nav-link text-dark dropdown-toggle"
            href="#"
            id="userParams" role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            @UserManager.GetUserName(User) <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="userParams">
            <a
                class="text-dark dropdown-item"
                asp-area=""
                asp-controller="ManageUsers"
                asp-action="Index">
                UserManage
            </a>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="dropdown-item">Log Out</button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a
            class="nav-link text-dark"
            asp-area=""
            asp-controller="Account"
            asp-action="Login">
            LogIn
        </a>
    </li>
}